.button {
  padding: 22px 70px;
  font-size: .75rem;
  color: $c-purple-button;
  border: 2px solid $c-purple-button;
  border-radius: 40px;

  &--transparent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 17px 35px;
    color: $c-white;
    border: 1px solid $c-white;
  }

  &--purple {
    color: $c-white;
    background-color: $c-purple-button;
    border: none;
  }

  &--submit {
    padding: 22px 60px;
  }

  &__icon {
    // position: absolute;
    // top: 10px;
    padding-right: 15px;
  }

  &--small {
    align-self: flex-start;
    padding: 5px 10px;
    font-size: 12px;
    color: $c-white;
    background-color: $c-blue-celestial;
    border: none;
  }
}
