.jumbo {
  height: 100vh;
  padding: 20px 0;
  overflow: hidden;
  font-family: $font-main;
  color: $c-white;
  text-align: center;
  background-image: url('./../assets/img/image-bg-header.jpg');
  background-position: center center;
  background-size: cover;

  &__container {
    @extend %container;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: lighter;
  }

  &__subtitle {
    padding: 0 40px;
    font-size: 1.3rem;
    font-weight: lighter;
    line-height: 1.5em;
  }

  &__socialMedia {
    display: flex;
    font-size: .7rem;
  }

  &__mediaInfo {
    padding: 0 15px;
  }

  &__mediaInfo + &__mediaInfo {
    border-left: 1px solid transparentize($c-white, .5);
  }

  &__icon {
    height: 14px;
  }

  @media #{$screen-md} {
    &__container {
      position: relative;
      justify-content: center;
    }

    &__subtitle {
      padding-bottom: 50px;
    }

    &__socialMedia {
      position: absolute;
      bottom: 0;
    }
  }
}
