.section {
  $spacing: 50px;

  padding: $spacing 0;
  font-family: $font-main;
  font-size: 16px;
  color: $c-text-gray;
  text-align: center;

  &__container {
    @extend %container;
  }

  &__flexlist {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__title {
    font-size: 1.6em;
    font-weight: normal;
    text-align: center;
  }

  &--gray {
    background-color: $c-white-smoke;
  }

  &--noPadding {
    padding-bottom: 0;

    .section__container {
      padding: 0 0;
    }
  }

  &--withBackground {
    padding: 0 0;
    color: $c-white;

    .section__container {
      max-width: 100%;
      margin: 0 0;
      padding: 0 0;
    }
  }

  &--chessboard {
    padding: 0 0;

    .section__container {
      padding: 0 0;
    }
  }

  &--dark {
    color: $c-white;
    background-color: $c-gray;
  }

  @media #{$screen-md} {
    padding: $spacing 0;

    &__flexlist {
      flex-direction: row;
      justify-content: space-around;
      margin-top: 20px;
      padding-right: 30px;
      padding-left: 30px;
    }

    &--noPadding {
      padding-bottom: 0;
    }

    &--withBackground {
      padding: 0 0;
    }

    &--chessboard {
      padding-top: 0;
    }
  }

  @media #{$screen-lg} {
    &__flexlist {
      padding-right: 100px;
      padding-left: 100px;
    }
  }
}
