.js-slider-slide {
  display: none;

  &--active {
    display: block;
  }
}

.js-slider-dot {
  .portrait {
    opacity: .5;
  }

  &--active {
    transform: scale(1.2);

    .portrait {
      opacity: 1;
    }
  }
}

.js-slider-portrait {
  display: none;

  &--active {
    display: block;
  }
}

.js-slider-quote {
  display: none;

  &--active {
    display: block;
  }
}
