.tile {
  $spacing: 30px;

  margin-bottom: 40px;
  padding-bottom: 30px;
  line-height: 1.8;
  background-color: $c-white;
  border: 1px solid $c-tile-heading-background;
  border-radius: 5px;

  &__heading {
    background-color: $c-tile-heading-background;
  }

  &__title {
    margin-top: -1px;
    padding: 1em 0;
    font-size: 13px;
    font-weight: normal;
  }

  &__content {
    padding: ($spacing / 2) $spacing;
  }

  &__info {
    margin-bottom: 17px;
    font-family: $font-price;
    line-height: 1.4;
    border-bottom: 1px solid $c-lightgray;
  }

  &__dollar {
    font-size: 28px;
    vertical-align: 15px;
  }

  &__price {
    font-size: 54px;
    font-weight: bold;
  }

  &__month {
    font-size: .8rem;
    line-height: 2em;
    color: $c-text-lightgray;
  }

  &__line {
    line-height: 2.5em;
  }

  &__line + &__line {
    border-top: 1px solid $c-lightgray;
  }

  &__line:last-of-type {
    margin-bottom: 40px;
  }

  &--purple {
    border: 2px solid $c-purple;

    .tile__heading {
      color: $c-white;
      background-color: $c-purple;
    }
  }

  @media #{$screen-md} {
    align-self: center;
    flex-basis: 32%;

    &--purple {
      align-self: flex-start;
      flex-basis: 36%;

      .tile__line:last-of-type {
        margin-bottom: 60px;
      }
    }
  }
}
