@import './base/core';
@import './base/colors';
@import './base/fonts';
@import './base/layout';
@import './base/placeholders';

@import './components/header';
@import './components/navigation';
@import './components/portrait';
@import './components/section';
@import './components/card';
@import './components/connector';
@import './components/tile';
@import './components/button';
@import './components/slider';
@import './components/text';
@import './components/article';
@import './components/form';

.js-slider-slide {
  display: none;

  &--active {
    display: block;
  }
}

.js-slider-dot {
  border: 3px solid pink;
  border-radius: 100%;

  & + & {
    margin-left: 15px;
  }

  &--active {
    border: 3px solid blue;
    transform: scale(1.2);
  }
}
