@import './base/core';
@import './base/colors';
@import './base/fonts';
@import './base/layout';
@import './base/placeholders';

@import './components/header';
@import './components/navigation';
@import './components/portrait';
@import './components/section';
@import './components/card';
@import './components/connector';
@import './components/tile';
@import './components/button';
@import './components/slider';
@import './components/slider-interactive';
@import './components/text';
@import './components/article';
@import './components/form';
@import './components/footer';

.js-slider-slide {
  display: none;

  &--active {
    display: block;
  }
}

.js-slider-dot {
  .portrait {
    opacity: .5;
  }

  &--active {
    transform: scale(1.2);

    .portrait {
      opacity: 1;
    }
  }
}

.js-slider-portrait {
  display: none;

  &--active {
    display: block;
  }
}

.js-slider-quote {
  display: none;

  &--active {
    display: block;
  }
}
